{% extends "base.html" %}

{% block main %}

<div id="content-top">
    <h1 class="main-header">Item Addition</h1>
</div>

<div class="table-wrapper">
    <div class="table-main add-table">
        <div class="table-header">
            <div class="table-row">
                <div>Item ID</div>
                <div>Name</div>
                <div>Description</div>
                <div>Shelf Life</div>
                <div>Unit Price</div>
                <div>Unit</div>
                <div></div>
            </div>
        </div>
        <div class="table-body">
            <div class="table-row" id="add-row">
                <div>
                    <button role="button"><i class="bi bi-plus-circle"></i>Add item</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="add-bottom">
    <span id="errmsg"></span>
    <form id="submit-form">
        <input type="submit" value="Add items" name="add-btn" disabled>
    </form>
</div>

<script>
    function disableButton () {
        document.querySelector("#submit-form [type=submit]").disabled =
            // Disable if there are no rows in table (1 child = the "Add row" button)
            document.querySelector(".add-table .table-body").childElementCount === 1
            // Disable if any inputs are invalid
            || Array.from(document.querySelectorAll(".add-table input")).some(x => x.value === '' && !x.classList.contains('hide'))
            // Disable if at least one input box is invalid
            || Array.from(document.querySelectorAll(".add-table input")).some(x => !x.checkValidity());
    }

    function addRow () {
        let row = document.createElement("div");
        row.classList.add("table-row");

        for (let i = 0; i < 6; i++) {
            let el;

            if (i === 2) {
                el = document.createElement("textarea");
                el.rows = 1;
            } else {
                el = document.createElement("input");

                if (i === 0) { el.type = "text"; el.maxLength = 16; }
                if (i === 1) { el.type = "text"; el.maxLength = 20; }
                if (i === 2) { el.type = "text"; el.maxLength = 100; }
                if (i === 3) { el.type = "number"; el.min = 1; el.step = 1; }
                if (i === 4) { el.type = "number"; el.min = 0; el.step = 0.01; }
                if (i === 5) { el.type = "text"; el.maxLength = 20; }
            }

            let wrapper = document.createElement("div");

            if (i === 0) wrapper.classList.add("mono");
            if (i === 2) wrapper.classList.add("left");
            if (i === 3 || i === 4) wrapper.classList.add("right");
            if (i === 3 || i === 4) wrapper.classList.add("tabnum");

            wrapper.appendChild(el);
            
            if (i === 3) {
                let sel = document.createElement("select");

                for (let x in timeConv) {
                    let op = document.createElement("option");
                    op.value = timeConv[x];
                    op.innerHTML = x;
                    sel.appendChild(op);
                }
                
                sel.value = '1';
                sel.addEventListener("input", () => {
                    let op = sel.previousElementSibling;

                    if (sel.value === '-1') {
                        op.classList.add("hide");
                    }
                    else {
                        op.classList.remove("hide");
                    }
                });
                wrapper.appendChild(sel);
                wrapper.classList.add("shelf-life");
            }

            row.appendChild(wrapper);
        }

        let e = document.createElement("div");
        let b = document.createElement("button");
        b.type = "button";
        b.role = "button";
        b.innerHTML = "<i class='bi bi-dash-circle'></i><i class='bi bi-dash-circle-fill'></i>"
        b.classList.add("delete-row");
        e.appendChild(b);
        row.append(e);
        
        b.addEventListener("click", () => {
            document.querySelector(".add-table .table-body").removeChild(b.parentElement.parentElement);
            disableButton();
        });

        document.querySelector(".add-table .table-body").insertBefore(row, document.querySelector("#add-row"));
        disableButton();
    }

    document.querySelector(".add-table").addEventListener("input", () => document.querySelector("#errmsg").innerText = "");

    document.querySelector("#submit-form").addEventListener("submit", e => {
        e.preventDefault();

        let values = [];

        for (let row of Array.from(document.querySelectorAll(".add-table .table-body .table-row:not(#add-row)"))) {
            let children = row.children;

            values.push({
                "ItemID": children[0].firstChild.value,
                "ItemName": children[1].firstChild.value,
                "ItemDescription": children[2].firstChild.value,
                "ShelfLife": children[3].lastChild.value === "-1" ? null : +children[3].firstChild.value * +children[3].lastChild.value,
                "Price": +children[4].firstChild.value,
                "Unit": children[5].firstChild.value,
            })
        }
        
        fetch("{{ url_for('bp_inventory.add_items') }}", {
            "method": "POST",
            "headers": {
                "Content-Type": "application/json"
            },
            "body": JSON.stringify({ "values": values })
        }).then(async d => {
            if (d.status === 200) window.location = "{{ url_for('bp_inventory.inventory') }}";
            if (d.status === 500) {
                msg = await d.text();
                document.querySelector("#errmsg").innerHTML = `<b>ERROR:</b> ${msg}`;
                alert(`ERROR: ${msg}`);
            }
        });
    });

    document.querySelector(".add-table").addEventListener("input", disableButton);

    document.querySelector("#add-row").addEventListener("click", addRow);
</script>

{% endblock %}