{% extends "base.html" %}

{% block main %}
<div id="content-top">
    <h1 class="main-header">Inventory</h1>

    <div class="btn-group">
        {% if session['user'] %}
            <a class="btn" href="{{ url_for('bp_inventory.add_items') }}">Add items</a>
            <a class="btn" href="{{ url_for('bp_inventory.dispose_items') }}">Dispose items</a>
            <a class="btn" href="{{ url_for('bp_inventory.update_items') }}">Update items</a>
        {% else %}
            <a class="btn" href="{{ url_for('bp_inventory.request_items') }}">Request items</a>
        {% endif %}
    </div>

    <form id="search">
        <input type="search" id="search-box" placeholder="Search item&hellip;" name="keyword" autofocus>
        <input type="submit" id="search-btn" value="Search" name="search-btn">
    </form>
</div>

<div class="table-wrapper">
    <div class="table-main inventory-table {{ 'custodian' if session['user'] else 'user' }}">
        <div class="table-header">
            <div class="table-row">
                <div class="table-sortable">
                    <button role="button" class="sort-btn">
                        Item ID
                        <i class="bi bi-chevron-expand"></i>
                    </button>
                </div>
                <div class="table-sortable">
                    <button role="button" class="sort-btn">
                        Name
                        <i class="bi bi-chevron-expand"></i>
                    </button>
                </div>
                <div>Category</div>
                <div class="table-sortable">
                    <button role="button" class="sort-btn">
                        Description
                        <i class="bi bi-chevron-expand"></i>
                    </button>
                </div>
                <div class="table-sortable">
                    <button role="button" class="sort-btn">
                        <span>
                            Shelf Life
                            <br>
                            <span style="font-weight: initial; font-style: italic; font-size: 80%;">(days)</span>
                        </span>
                        <i class="bi bi-chevron-expand"></i>
                    </button>
                </div>
                <div>Unit Price</div>
                {% if session['user'] %}
                <div>Available Stock</div>
                {% endif %}
                <div>Unit</div>
            </div>
        </div>
        <div class="table-body">
            <div class="table-loading table-row hide">
                <div>Please wait&hellip;</div>
            </div>
            <div class="table-empty table-row hide">
                <div>No items found.</div>
            </div>
            <div class="table-error table-row hide">
                <div>An error occurred in the database. Please try again later.</div>
            </div>
        </div>
    </div>
</div>

{% if session['user'] %}
<div style="display: flex; flex-direction: row; justify-content: space-between; align-content: space-between;">
    <button id="manage-categories" type="button" role="button" style="margin-bottom: 0;">Manage categories</button>
    <button id="generate_73" class="blue" title="Generate Appendix 73">Generate</button>
</div>
{% endif %}

<script>
    let currentSort = [0, true];

    document.querySelectorAll(".inventory-table .sort-btn").forEach(x => {
        const p = x.parentElement;
        x.addEventListener("click", () => {
            currentSort = sortTable(document.querySelector(".inventory-table"), Array.prototype.indexOf.call(p.parentElement.children, p), currentSort, { shelfLife: x.innerText.includes("Shelf Life") });
        });
    });

    document.querySelector("#search").addEventListener("submit", e => {
        e.preventDefault();
        populateItems(document.querySelector(".inventory-table .table-body"), document.querySelector("#search-box").value);

        let oldSym = document.querySelector(`.inventory-table .table-header .table-row > :nth-child(${currentSort[0] + 1}) .bi`);
        oldSym.classList.remove(`bi-chevron-${currentSort[1] ? "up" : "down"}`);
        oldSym.classList.add("bi-chevron-expand");

        currentSort = [0, true];

        let newSym = document.querySelector(".inventory-table .table-header .table-row > :nth-child(1) .bi");
        newSym.classList.remove("bi-chevron-expand");
        newSym.classList.add("bi-chevron-up");
    });

    window.addEventListener("load", () => populateItems(document.querySelector(".inventory-table .table-body")));

    document.addEventListener("tablerefresh", () => {
        currentSort = [0, true];
        if (document.querySelector(".inventory-table .bi-chevron-up, .inventory-table .bi-chevron-down")) document.querySelector(".inventory-table .bi-chevron-up, .inventory-table .bi-chevron-down").classList.add("bi-chevron-expand");
        if (document.querySelector(".inventory-table .bi-chevron-up")) document.querySelector(".inventory-table .bi-chevron-up").classList.remove("bi-chevron-up");
        if (document.querySelector(".inventory-table .bi-chevron-down")) document.querySelector(".inventory-table .bi-chevron-down").classList.remove("bi-chevron-down");
        document.querySelector(".inventory-table .bi-chevron-expand").classList.add("bi-chevron-up");
        document.querySelector(".inventory-table .bi-chevron-expand").classList.remove("bi-chevron-expand");
    });
</script>

{% if session['user'] %}
<script>
    document.querySelector("#manage-categories").addEventListener("click", () => {
        window.location.href = "/categories";
    })

    document.querySelector("#generate_73").disabled = document.querySelector('.table-body').childElementCount <= 3;

    document.querySelector("#generate_73").addEventListener("click", () => {
        let filename = `Appendix73${document.querySelector("#search-box").value === ''? '' : "-" + document.querySelector("#search-box").value}`;
        fetch("/forms/73", {
            "method": "POST",
            "headers": {
                "Content-Type": "application/json"
            },
            "body": JSON.stringify({
                "items": Array.from(document.querySelectorAll(".table-body .table-row:not(.hide)"))
                .filter(row => +row.querySelector(".currency span:nth-child(2)").innerHTML.replaceAll(/[^0-9\.]/g, "") >= 15000)
                .map(x => {
                    return {
                        "ItemID": x.querySelector("div:nth-child(1)").innerHTML,
                        "ItemName": x.querySelector("div:nth-child(2)").innerHTML,
                        "ItemDescription": x.querySelector("div:nth-child(4)").innerHTML,
                        "Unit": x.querySelector("div:nth-child(8)").innerHTML,
                        "Price": x.querySelector(".currency span:nth-child(2)").innerHTML,
                        "AvailableStock": x.querySelector("div:nth-child(7)").innerHTML,
                    }
                })
            })
        })
        .then(res => {
            if(res.status === 500){
                res.json()
                .then(a => {
                    let x = document.querySelector("#snackbar");
                    x.innerText = a["error"];
                    x.classList.add("show");
                    setTimeout(function(){ x.classList.remove("show") }, 3000);
                })
            }
            else{
                res.body.getReader().read()
                .then(data => {
                    let link = window.URL.createObjectURL(new File([data.value], filename, {
                        "type": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                    }));
                    return link;
                })
                .then(link => {
                    let a = document.createElement("a");
                    a.href = link;
                    a.download = filename;
                    a.click();
                })
                .catch((error) => {
                    let x = document.querySelector("#snackbar");
                    x.innerText = "An error occured. Please try again later.";
                    x.classList.add("show");
                    setTimeout(function(){ x.classList.remove("show") }, 3000);
                });
            }}
        )
        .catch(() => {
            let x = document.querySelector("#snackbar");
            x.innerText = "Server unavailable. Please try again later.";
            x.classList.add("show");
            setTimeout(function(){ x.classList.remove("show") }, 3000);
        });
    })
</script>
{% endif %}

{% endblock %}
