{% extends "base.html" %}

{% block main %}
<div id="content-top">
    <h1 class="main-header">Inventory</h1>

    <div id="inputs">
        <div>
            {% if session['user']['RoleID'] == 1 %}
                <a class="btn" href="{{ url_for('bp_inventory.add_items') }}">Add items</a>
                <a class="btn" href="{{ url_for('bp_inventory.remove_items') }}">Remove items</a>
                <a class="btn" href="{{ url_for('bp_inventory.update_items') }}">Update items</a>
            {% else %}
                <a class="btn" href="{{ url_for('bp_request.make_requests') }}">Request items</a>
            {% endif %}

            <form id="search">
                <input type="search" id="search-box" placeholder="Search item&hellip;" name="keyword" autofocus>
                <input type="submit" id="search-btn" value="Search" name="search-btn">
            </form>
        </div>
    </div>
</div>

<div class="table-wrapper">
    <div class="table-main inventory-table">
        <div class="table-header">
            <div class="table-row">
                <div class="table-sortable">
                    <button role="button" class="sort-btn">
                        Item ID
                        <i class="bi bi-chevron-expand"></i>
                    </button>
                </div>
                <div class="table-sortable">
                    <button role="button" class="sort-btn">
                        Name
                        <i class="bi bi-chevron-expand"></i>
                    </button>
                </div>
                <div class="table-sortable">
                    <button role="button" class="sort-btn">
                        Description
                        <i class="bi bi-chevron-expand"></i>
                    </button>
                </div>
                <div class="table-sortable">
                    <button role="button" class="sort-btn">
                        <span>
                            Shelf Life
                            <br>
                            <span style="font-weight: initial; font-style: italic; font-size: 80%;">(days)</span>
                        </span>
                        <i class="bi bi-chevron-expand"></i>
                    </button>
                </div>
                <div>Unit Price</div>
                <div>Available Stock</div>
                <div>Unit</div>
            </div>
        </div>
        <div class="table-body">
            <div class="table-loading table-row hide">
                <div>Please wait&hellip;</div>
            </div>
            <div class="table-empty table-row hide">
                <div>No items found.</div>
            </div>
        </div>
    </div>
</div>

<script>
    let currentSort = [0, true];

    document.querySelectorAll(".inventory-table .sort-btn").forEach(x => {
        const p = x.parentElement;
        x.addEventListener("click", () => {
            currentSort = sortTable(document.querySelector(".inventory-table"), Array.prototype.indexOf.call(p.parentElement.children, p), currentSort, { shelfLife: x.innerText.includes("Shelf Life") });
        });
    });

    document.querySelector("#search").addEventListener("submit", e => {
        e.preventDefault();
        populateItems(document.querySelector(".inventory-table .table-body"), document.querySelector("#search-box").value);

        let oldSym = document.querySelector(`.inventory-table .table-header .table-row > :nth-child(${currentSort[0] + 1}) .bi`);
        oldSym.classList.remove(`bi-chevron-${currentSort[1] ? "up" : "down"}`);
        oldSym.classList.add("bi-chevron-expand");

        currentSort = [0, true];

        let newSym = document.querySelector(".inventory-table .table-header .table-row > :nth-child(1) .bi");
        newSym.classList.remove("bi-chevron-expand");
        newSym.classList.add("bi-chevron-up");
    });

    window.addEventListener("load", () => populateItems(document.querySelector(".inventory-table .table-body")));

    document.addEventListener("tablerefresh", () => {
        currentSort = [0, true];
        if (document.querySelector(".inventory-table .bi-chevron-up, .inventory-table .bi-chevron-down")) document.querySelector(".inventory-table .bi-chevron-up, .inventory-table .bi-chevron-down").classList.add("bi-chevron-expand");
        if (document.querySelector(".inventory-table .bi-chevron-up")) document.querySelector(".inventory-table .bi-chevron-up").classList.remove("bi-chevron-up");
        if (document.querySelector(".inventory-table .bi-chevron-down")) document.querySelector(".inventory-table .bi-chevron-down").classList.remove("bi-chevron-down");
        document.querySelector(".inventory-table .bi-chevron-expand").classList.add("bi-chevron-up");
        document.querySelector(".inventory-table .bi-chevron-expand").classList.remove("bi-chevron-expand");
    });
</script>

{% endblock %}
