{% extends "base.html" %}

{% block main %}
<div id="content-top">
    <h1 class="main-header">Item Request</h1>

    <form id="search">
        <input type="search" id="search-box" placeholder="Search item&hellip;" name="keyword" autofocus>
        <input type="submit" id="search-btn" value="Search" name="search-btn">
    </form>
</div>

<div class="table-wrapper">
    <div class="table-main search-table {{ 'custodian' if session['user']['RoleID'] == 1 else 'user' }}">
        <div class="table-header">
            <div class="table-row">
                <div class="table-sortable">
                    <button role="button" class="sort-btn">
                        Item ID
                        <i class="bi bi-chevron-expand"></i>
                    </button>
                </div>
                <div class="table-sortable">
                    <button role="button" class="sort-btn">
                        Name
                        <i class="bi bi-chevron-expand"></i>
                    </button>
                </div>
                <div>Category</div>
                <div class="table-sortable">
                    <button role="button" class="sort-btn">
                        Description
                        <i class="bi bi-chevron-expand"></i>
                    </button>
                </div>
                <div class="table-sortable">
                    <button role="button" class="sort-btn">
                        <span>
                            Shelf Life
                            <br>
                            <span style="font-weight: initial; font-style: italic; font-size: 80%;">(days)</span>
                        </span>
                        <i class="bi bi-chevron-expand"></i>
                    </button>
                </div>
                <div>Unit Price</div>
                {% if session['user']['RoleID'] == 1 %}
                <div>Available Stock</div>
                {% endif %}
                <div>Unit</div>
                <div></div>
            </div>
        </div>
        <div class="table-body">
            <div class="table-row table-loading hide">
                <div>Please wait&hellip;</div>
            </div>
            <div class="table-row table-empty hide">
                <div>No items found.</div>
            </div>
            <div class="table-error table-row hide">
                <div>An error occurred in the database. Please try again later.</div>
            </div>
        </div>
    </div>
</div>

<div class="table-wrapper">
    <div class="table-main selection-table request">
        <div class="table-header">
            <div class="table-row">
                <div class="table-sortable">
                    <button role="button" class="sort-btn">
                        Item ID
                        <i class="bi bi-chevron-expand"></i>
                    </button>
                </div>
                <div class="table-sortable">
                    <button role="button" class="sort-btn">
                        Name
                        <i class="bi bi-chevron-expand"></i>
                    </button>
                </div>
                <div>Category</div>
                <div class="table-sortable">
                    <button role="button" class="sort-btn">
                        Description
                        <i class="bi bi-chevron-expand"></i>
                    </button>
                </div>
                <div class="table-sortable">
                    <button role="button" class="sort-btn">
                        <span>
                            Shelf Life
                            <br>
                            <span style="font-weight: initial; font-style: italic; font-size: 80%;">(days)</span>
                        </span>
                        <i class="bi bi-chevron-expand"></i>
                    </button>
                </div>
                <div>Unit Price</div>
                {% if session['user']['RoleID'] == 1 %}
                <div>Available Stock</div>
                {% endif %}
                <div>Unit</div>
                <div>Request Quantity</div>
                <div></div>
            </div>
        </div>
        <div class="table-body"> </div>
    </div>
</div>

<div id="purpose-box">
    <label for="purpose" style="padding-left: 0.3rem"><b>Purpose:</b></label>
    <input type="text" id="purpose" name="purpose" style="width: 100%" maxlength="50" required>
</div>

<div class="form-bottom">
    <span class="form-msg"></span>
    <form id="submit-form">
        <input type="submit" value="Request selected items" name="request-btn" disabled>
    </form>
</div>

<script>
    let currentSortSearch = [0, true];
    let currentSortSelection = [0, true];

    document.querySelectorAll(".search-table .sort-btn").forEach(x => {
        const p = x.parentElement;
        x.addEventListener("click", () => {
            currentSortSearch = sortTable(document.querySelector(".search-table"), Array.prototype.indexOf.call(p.parentElement.children, p), currentSortSearch)
        });
    });

    document.querySelectorAll(".selection-table .sort-btn").forEach(x => {
        const p = x.parentElement;
        x.addEventListener("click", () => {
            currentSortSelection = sortTable(document.querySelector(".selection-table"), Array.prototype.indexOf.call(p.parentElement.children, p), currentSortSelection)
        });
    });

    function selectItem (row) {
        let clone = row.cloneNode(true);
        clone.lastChild.innerHTML = clone.lastChild.innerHTML.replaceAll("plus", "dash");
        clone.querySelector(".select-row").classList.add("delete-row");
        clone.querySelector(".select-row").classList.remove("select-row");
        
        clone.lastChild.querySelector("button").addEventListener("click", () => {
            clone.parentElement.removeChild(clone);
            let r = Array.from(document.querySelectorAll(".search-table .table-body .table-row")).filter(x => x.firstChild.innerText === clone.firstChild.innerText);
            if (r.length > 0) r[0].lastChild.querySelector("button").disabled = false;
            enableSubmit();
        });

        let amt = document.createElement("input");
        amt.type = "number";
        amt.min = 1;
        amt.max = +clone.children[6].innerText.replace(",", "");
        let amtWrap = document.createElement("div");
        amtWrap.classList.add("right");
        amtWrap.appendChild(amt);
        clone.insertBefore(amtWrap, clone.lastChild);
        
        let b = document.querySelector(".selection-table .table-body");
        b.insertBefore(clone, b.firstChild);
        amt.focus();
        row.lastChild.querySelector("button").disabled = true;
        enableSubmit();
    }

    document.querySelector("#purpose").addEventListener("input",  enableSubmit);

    function disableButtons () {
        if (document.querySelector(".selection-table .table-body").childElementCount > 0) {
            let codes = Array.from(document.querySelectorAll(".selection-table .table-body .table-row > :first-child")).map(x => x.innerText);
            Array.from(document.querySelectorAll("#item-search-requests .table-body .table-row")).filter(x => codes.includes(x.firstChild.innerText)).forEach(x => x.lastChild.querySelector("button").disabled = true);
        }
    }

    function enableSubmit () {
        document.querySelector("#submit-form [type=submit]").disabled = document.querySelector(".selection-table .table-body").childElementCount === 0 || Array.from(document.querySelectorAll(".selection-table .table-body > div :nth-child(9) input")).some(x => !x.checkValidity() || x.value === '') || !document.querySelector("#purpose").value != '';
    }

    document.querySelector("#search").addEventListener("submit", e => {
        e.preventDefault();
        populateItems(document.querySelector(".search-table .table-body"), document.querySelector("#search-box").value, { buttons: true, requesting: true });
    });

    document.querySelector(".selection-table").addEventListener("input", enableSubmit);

    document.addEventListener("tablerefresh", () => {
        Array.from(document.querySelectorAll(".search-table .table-body .table-row > :last-child button")).forEach(x => {
            x.addEventListener("click", () => selectItem(x.parentElement.parentElement));
        });
        enableSubmit();
        disableButtons();

        currentSortSearch = [0, true];
        if (document.querySelector(".search-table .bi-chevron-up, .search-table .bi-chevron-down")) document.querySelector(".search-table .bi-chevron-up, .search-table .bi-chevron-down").classList.add("bi-chevron-expand");
        if (document.querySelector(".search-table .bi-chevron-up")) document.querySelector(".search-table .bi-chevron-up").classList.remove("bi-chevron-up");
        if (document.querySelector(".search-table .bi-chevron-down")) document.querySelector(".search-table .bi-chevron-down").classList.remove("bi-chevron-down");
        document.querySelector(".search-table .bi-chevron-expand").classList.add("bi-chevron-up");
        document.querySelector(".search-table .bi-chevron-expand").classList.remove("bi-chevron-expand");
    });

    document.querySelector("#submit-form").addEventListener("submit", e => {
        e.preventDefault();
        
        fetch("{{ url_for('bp_inventory.request_items') }}", {
            "method": "POST",
            "headers": {
                "Content-Type": "application/json"
            },
            "body": JSON.stringify({
                "items": Array.from(document.querySelectorAll(".selection-table .table-body .table-row")).map(x => {
                    return {
                        "ItemID": x.firstChild.innerHTML,
                        "RequestQuantity": +x.children[8].firstChild.value
                    }
                }),
                "purpose": document.querySelector("#purpose").value
            })
        }).then(async d => {
            if (d.status === 200) window.location = "{{ url_for('bp_inventory.inventory') }}";
            if (d.status === 500) {
                let res = await d.json();

                document.querySelector(".form-bottom .form-msg").innerHTML = `<b>ERROR:</b> ${res['error']}`;
                document.querySelector(".form-bottom .form-msg").classList.add("error");

                if ('item' in res) Array.prototype.filter.call(document.querySelectorAll(".selection-table .table-body .table-row:not(#add-row)"), x => x.firstChild.firstChild.value === res['item'])[0].classList.add("error");
            }
        })
        .catch(() => {
            document.querySelector('.form-bottom .form-msg').classList.add("error");
            document.querySelector('.form-bottom .form-msg').innerHTML = "<b>ERROR:</b> Server unavailable. Please try again.";
        });
    });
    
    window.addEventListener("load", () => populateItems(document.querySelector(".search-table .table-body"), document.querySelector("#search-box").value, { buttons: true, requesting: true }));
</script>

{% endblock %}