{% extends "base.html" %}

{% block main %}

<div id="content-top">
    <h1 class="main-header">User Addition</h1>
</div>

<div id="add-table" class="table-wrapper">
    <div class="table-main inventory-table">
        <div class="table-header">
            <div class="table-row add-user-table">
                <div>First Name</div>
                <div>Last Name</div>
                <div>Email address</div>
                <div>Role</div>
                <div></div>
            </div>
        </div>
        <div class="table-body">
            <div class="table-row" id="add-row">
                <div>
                    <button role="button"><i class="bi bi-plus-circle"></i>Add user</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="add-user-form">
    <p class="message"></p>
    <form id="submit-form">
        <input type="submit" id="add-btn" value="Add users" name="add-btn" disabled>
    </form>
</div>

<script>
    function disableButton () {
        document.querySelector("#add-btn").disabled =
            // Disable if there are no rows in table
            document.querySelector("#add-table .table-body").childElementCount === 1
            // Disable if at least one row has no item code
            || Array.from(document.querySelectorAll("#add-table .table-body .table-row:not(#add-row) > :not(:nth-child(4)) input")).some(x => x.value === '')
            // Disable if at least one input box is invalid
            || Array.from(document.querySelectorAll("#add-table input")).some(x => !x.checkValidity());
    }

    function addRow () {
        let row = document.createElement("div");
        row.classList.add("table-row");
        row.classList.add("add-user-table");

        let roles = {
            "Custodian": 1,
            "Personnel": 2
        }

        for (let i = 0; i < 4; i++) {
            let el = document.createElement("input");
            let wrapper = document.createElement("div");

            if(i === 0 || i === 1){
                el.type = "text";
                el.maxLength = 30;
                wrapper.appendChild(el);
                row.appendChild(wrapper);
                continue;
            }

            if(i == 2){
                el.type = "email"
                el.minLength = 1;
                el.maxLength = 100;
                el.pattern = "^\\w+([\\.\\-\\+]?\\w+)*@gmail\\.com$"
                el.title = "Email address must have a gmail.com domain"
                wrapper.appendChild(el);
                row.appendChild(wrapper);
                continue;
            }

            let sel = document.createElement("select");
            for(let x in roles){
                let op = document.createElement("option");
                op.value = roles[x];
                op.innerHTML = x;

                if(x === 'Personnel'){
                    op.selected = 1;
                }
                sel.appendChild(op);
            }

            wrapper.appendChild(sel);
            row.appendChild(wrapper);
        }

        let e = document.createElement("div");
        let b = document.createElement("button");
        b.type = "button";
        b.role = "button";
        b.innerHTML = "<i class='bi bi-dash-circle'></i><i class='bi bi-dash-circle-fill'></i>"
        b.classList.add("delete-row");
        e.appendChild(b);
        row.append(e);

        b.addEventListener("click", () => {
            document.querySelector("#add-table .table-body").removeChild(b.parentElement.parentElement);
            disableButton();
        });

        document.querySelector("#add-table .table-body").insertBefore(row, document.querySelector("#add-row"));
        disableButton();
    }

    document.querySelector("#submit-form").addEventListener("submit", e => {
        e.preventDefault();

        document.querySelector('#submit-form input[type=submit]').disabled = 1;
        document.querySelector('#submit-form input[type=submit]').value = 'Adding users...'

        let values = [];

        for (let row of Array.from(document.querySelectorAll("#add-table .table-body .table-row:not(#add-row)"))) {
            let v = [];
            Array.from(row.children).forEach((x, i) => {
                if(i !== 4){
                    v.push(x.firstChild.value);
                }
            });
            values.push(v);
        }

        fetch("{{ url_for('bp_user.add_users') }}", {
            "method": "POST",
            "headers": {
                "Content-Type": "application/json"
            },
            "body": JSON.stringify({ "values": values })
        }).then(d => {
            if (d.status === 200) window.location = "{{ url_for('bp_user.show_users') }}";
            if (d.status === 500){
                d.json().then(a => {
                    let p = document.querySelector('#add-user-form p')
                    p.style.display = 'block'
                    
                    if(a["error"] == 1062){
                        p.innerHTML = a["msg"] + " is already taken."
                    }
                    else if(a["error"] == 2003){
                        p.innerHTML = "Database error. Please try again later."
                    }
                    else{
                        p.innerHTML = "Internal server error. Please try again later."
                    }
                });

                document.querySelector('#submit-form input[type=submit]').value = 'Submit' 
            }
        }).catch(() => {
            let p = document.querySelector('#add-user-form p')
            p.innerHTML = 'Server unavailable. Please try again later.'
            p.style.display = 'block'

            document.querySelector('#submit-form input[type=submit]').value = 'Submit' 
        });
    });

    document.querySelector("#add-table").addEventListener("input", disableButton);

    document.querySelector("#add-row").addEventListener("click", addRow);
</script>

{% endblock %}