{% extends "base.html" %}

{% block main %}

<div id="content-top">
    <h1 class="main-header">User Addition</h1>
</div>

<div class="table-wrapper">
    <div class="table-main add-table users">
        <div class="table-header">
            <div class="table-row">
                <div>First Name</div>
                <div>Last Name</div>
                <div>Email Address</div>
                <div>Role</div>
                <div></div>
            </div>
        </div>
        <div class="table-body">
            <div class="table-row" id="add-row">
                <div>
                    <button role="button" autofocus><i class="bi bi-plus-circle"></i>Add user</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-bottom">
    <p class="form-msg"></p>
    <form id="submit-form">
        <input type="submit" id="add-btn" value="Add users" name="add-btn" disabled>
    </form>
</div>

<script>
    function disableButton () {
        document.querySelector("#add-btn").disabled =
            // Disable if there are no rows in table
            document.querySelector(".add-table .table-body").childElementCount === 1
            // Disable if at least one row has no item code
            || Array.from(document.querySelectorAll(".add-table .table-body .table-row:not(#add-row) > :not(:nth-child(4)) input")).some(x => x.value === '')
            // Disable if at least one input box is invalid
            || Array.from(document.querySelectorAll(".add-table input")).some(x => !x.checkValidity());
    }

    function addRow () {
        let row = document.createElement("div");
        row.classList.add("table-row");

        let roles = {
            "Custodian": 1,
            "Personnel": 2
        }

        for (let i = 0; i < 4; i++) {
            let el = document.createElement("input");
            let wrapper = document.createElement("div");

            if (i < 2) {
                el.type = "text";
                el.maxLength = 30;
                el.pattern = "^[A-Za-z\\s]+$";
                wrapper.appendChild(el);
                row.appendChild(wrapper);
                continue;
            }

            if (i === 2) {
                el.type = "email"
                el.minLength = 1;
                el.maxLength = 100;
                el.pattern = "^([0-9a-z]|([0-9a-z][\.\-_\+]{1}[0-9a-z]))+@gmail.com$";
                wrapper.appendChild(el);
                row.appendChild(wrapper);
                continue;
            }

            let sel = document.createElement("select");
            for (let x in roles) {
                let op = document.createElement("option");
                op.value = roles[x];
                op.innerHTML = x;

                if (x === 'Personnel') op.selected = "";
                sel.appendChild(op);
            }

            wrapper.appendChild(sel);
            row.appendChild(wrapper);
        }

        let div = document.createElement("div");
        let btn = document.createElement("button");
        btn.type = "button";
        btn.role = "button";
        btn.innerHTML = "<i class='bi bi-dash-circle'></i><i class='bi bi-dash-circle-fill'></i>"
        btn.classList.add("delete-row");
        div.appendChild(btn);
        row.append(div);

        btn.addEventListener("click", () => {
            document.querySelector(".add-table .table-body").removeChild(btn.parentElement.parentElement);
            disableButton();
        });

        document.querySelector(".add-table .table-body").insertBefore(row, document.querySelector("#add-row"));
        disableButton();
        row.querySelector("input").focus();
    }

    document.querySelector("#submit-form").addEventListener("submit", e => {
        e.preventDefault();

        document.querySelector(".form-bottom input[type=submit]").disabled = true;
        document.querySelector(".form-bottom .form-msg").classList.remove("error");
        document.querySelector(".form-bottom .form-msg").innerText = "Please wait\u2026";

        let values = [];

        for (let row of Array.from(document.querySelectorAll(".add-table .table-body .table-row:not(#add-row)"))) {
            values.push(Array.prototype.slice.call(row.children, 0, 4).map(x => x.firstChild.value));
        }

        fetch("{{ url_for('bp_user.add_users') }}", {
            "method": "POST",
            "headers": {
                "Content-Type": "application/json"
            },
            "body": JSON.stringify({ "values": values.map(x => {
                return {
                    "firstName": x[0],
                    "lastName": x[1],
                    "email": x[2],
                    "role": x[3]
                }
            }) })
        }).then(async d => {
            if (d.status === 200) window.location = "{{ url_for('bp_user.show_users') }}";
            if (d.status === 500) {
                let j = await d.json();

                document.querySelector(".form-bottom .form-msg").classList.add("error");
                document.querySelector(".form-bottom .form-msg").innerHTML = `<b>ERROR:</b> ${j['error']}`;
                Array.prototype.filter.call(document.querySelectorAll(".add-table .table-body .table-row:not(#add-row)"), x => x.children[2].firstChild.value === j['email'])[0].classList.add("error");
            }
        })
        .catch(() => {
            document.querySelector('.form-bottom .form-msg').classList.add("error");
            document.querySelector('.form-bottom .form-msg').innerHTML = "<b>ERROR:</b> Server unavailable. Please try again.";
        });
    });

    document.querySelector(".add-table").addEventListener("input", e => {
        let t = e.target.closest(".error")
        if (t && e.target.getAttribute("type") === "email") t.classList.remove("error");
        disableButton();
    });

    document.querySelector("#add-row").addEventListener("click", addRow);
</script>

{% endblock %}