{% extends "base.html" %}

{% block main %}

<div id="content-top">
    <h1 class="main-header">User Removal</h1>

    <form id="search">
        <input type="search" id="search-box" placeholder="Search user&hellip;" name="keyword" autofocus>
        <input type="submit" id="search-btn" value="Search" name="search-btn">
    </form>
</div>

<div class="table-wrapper">
    <div class="table-main search-table users">
        <div class="table-header">
            <div class="table-row">
                <div>Username</div>
                <div>First Name</div>
                <div>Last Name</div>
                <div>Email Address</div>
                <div>Role</div>
                <div></div>
            </div>
        </div>
        <div class="table-body">
            <div class="table-row table-loading hide">
                <div>Please wait&hellip;</div>
            </div>
            <div class="table-row table-empty hide">
                <div>No users found.</div>
            </div>
            <div class="table-error table-row hide">
                <div>An error occurred in the database. Please try again later.</div>
            </div>
        </div>
    </div>
</div>

<div class="table-wrapper">
    <div class="table-main selection-table users">
        <div class="table-header">
            <div class="table-row">
                <div>Username</div>
                <div>First Name</div>
                <div>Last Name</div>
                <div>Email Address</div>
                <div>Role</div>
                <div></div>
            </div>
        </div>
        <div class="table-body"> </div>
    </div>
</div>

<div class="form-bottom">
    <p class="form-msg"></p>
    <form id="submit-form">
        <input type="submit" id="delete-btn" class="btn-red" value="Delete selected users" name="delete-btn" disabled>
    </form>
</div>

<script>
    function selectRow (row) {
        let clone = row.cloneNode(true);
        clone.lastChild.innerHTML = clone.lastChild.innerHTML.replaceAll("plus", "dash");
        clone.querySelector(".select-row").classList.add("delete-row");
        clone.querySelector(".select-row").classList.remove("select-row");
        
        clone.lastChild.querySelector("button").addEventListener("click", () => {
            clone.parentElement.removeChild(clone);
            let r = Array.from(document.querySelectorAll(".search-table .table-body .table-row")).filter(x => x.firstChild.innerHTML === clone.firstChild.innerHTML);
            if (r.length > 0) r[0].lastChild.querySelector("button").disabled = false;
            toggleDeleteDisabled();
        });

        let b = document.querySelector(".selection-table .table-body");
        b.insertBefore(clone, b.firstChild);
        row.lastChild.querySelector("button").disabled = true;
        toggleDeleteDisabled();
    }

    function disableButtons () {
        if (document.querySelector(".selection-table .table-body").childElementCount > 0) {
            let codes = Array.prototype.map.call(document.querySelector(".selection-table .table-body .table-row > :first-child"), x => x.innerHTML);
            Array.prototype.filter.call(document.querySelector(".search-table .table-body .table-row"), x => codes.includes(x.firstChild.innerHTML)).forEach(x => x.lastChild.querySelector("button").disabled = true);
        }
    }

    function toggleDeleteDisabled () {
        document.querySelector("#delete-btn").disabled = document.querySelector(".selection-table .table-body").childElementCount === 0;
    }

    document.querySelector("#search").addEventListener("submit", e => {
        e.preventDefault();
        populateUsers(document.querySelector(".search-table .table-body"), document.querySelector("#search-box").value, { buttons: true });
    });

    document.addEventListener("tablerefresh", () => {
        Array.from(document.querySelectorAll(".search-table .table-body .table-row > :last-child button")).forEach(x => {
            x.addEventListener("click", () => selectRow(x.parentElement.parentElement));
        });
        toggleDeleteDisabled();
        disableButtons();
    });

    document.querySelector("#submit-form").addEventListener("submit", e => {
        e.preventDefault();

        document.querySelector('.form-bottom input[type=submit]').disabled = true;
        document.querySelector('.form-bottom .form-msg').classList.remove("error");
        document.querySelector('.form-bottom .form-msg').innerText = 'Please wait\u2026';

        fetch("{{ url_for('bp_user.remove_users') }}", {
            "method": "POST",
            "headers": {
                "Content-Type": "application/json"
            },
            "body": JSON.stringify({ "users": Array.prototype.map.call(document.querySelectorAll(".selection-table .table-body .table-row"), x => x.firstChild.innerText) })
        }).then(async d => {
            if (d.status === 200) window.location = "{{ url_for('bp_user.show_users') }}";
            if (d.status === 500) {
                document.querySelector('.form-bottom .form-msg').classList.add("error");
                document.querySelector('.form-bottom .form-msg').innerHTML = `<b>ERROR:</b> ${(await d.json())['error']}`;
            }
        })
        .catch(() => {
            document.querySelector('.form-bottom .form-msg').classList.add("error");
            document.querySelector('.form-bottom .form-msg').innerHTML = "<b>ERROR:</b> Server unavailable. Please try again.";
        });
    })

    window.addEventListener("load", () => populateUsers(document.querySelector(".search-table .table-body"), document.querySelector("#search-box").value, { buttons: true }));
</script>

{% endblock %}