{% extends "base.html" %}

{% block main %}
<!-- <dialog id="modal-users">
    <div class="modal-back"></div>
    <div class="modal-main">
        <button type="button" role="button" class="modal-close">&times;</button>
        <h1></h1>
        <p></p>
        <form>
            <span class="modal-bottom">
                <p class="modal-msg"></p>
                <input type="button" class="cancel" value="Cancel">
                <input type="submit">
            </span>
        </form>
    </div>
</dialog> -->

<div id="content-top">
    <h1 class="main-header">Users</h1>

    <div class="btn-group">
        <a class="btn" href="{{ url_for('bp_user.add_users') }}">Add users</a>
        <a class="btn" href="{{ url_for('bp_user.remove_users') }}">Remove users</a>
    </div>

    <form id="search">
        <input type="search" id="search-box" placeholder="Search user&hellip;" name="keyword" autofocus>
        <input type="submit" id="search-btn" value="Search" name="search-btn">
    </form>
</div>

<div class="table-wrapper">
    <div class="table-main user-table">
        <div class="table-header">
            <div class="table-row">
                <div class="table-sortable">
                    <button role="button" class="sort-btn">
                        Username
                        <i class="bi bi-chevron-expand"></i>
                    </button>
                </div>
                <div class="table-sortable">
                    <button role="button" class="sort-btn">
                        First Name
                        <i class="bi bi-chevron-expand"></i>
                    </button>
                </div>
                <div class="table-sortable">
                    <button role="button" class="sort-btn">
                        Last Name
                        <i class="bi bi-chevron-expand"></i>
                    </button>
                </div>
                <div>Email address</div>
                <div>Role</div>
            </div>
        </div>
        <div class="table-body">
            <div class="table-loading table-row hide">
                <div>Please wait&hellip;</div>
            </div>
            <div class="table-empty table-row hide">
                <div>No users found.</div>
            </div>
            <div class="table-error table-row hide">
                <div>An error occurred in the database. Please try again later.</div>
            </div>
        </div>
    </div>
</div>

<script>
    let currentSort = [0, true];

    document.querySelectorAll(".user-table .sort-btn").forEach(x => {
        const p = x.parentElement;
        x.addEventListener("click", () => {
            currentSort = sortTable(document.querySelector(".user-table"), Array.prototype.indexOf.call(p.parentElement.children, p), currentSort, { shelfLife: x.innerText.includes("Shelf Life") });
        });
    });

    document.querySelector("#search").addEventListener("submit", e => {
        e.preventDefault();
        populateUsers(document.querySelector(".user-table .table-body"), document.querySelector("#search-box").value);

        let oldSym = document.querySelector(`.user-table .table-header .table-row > :nth-child(${currentSort[0] + 1}) .bi`);
        oldSym.classList.remove(`bi-chevron-${currentSort[1] ? "up" : "down"}`);
        oldSym.classList.add("bi-chevron-expand");

        currentSort = [0, true];

        let newSym = document.querySelector(".user-table .table-header .table-row > :nth-child(1) .bi");
        newSym.classList.remove("bi-chevron-expand");
        newSym.classList.add("bi-chevron-up");
    });

    document.addEventListener("tablerefresh", () => {
        currentSort = [0, true];
        if (document.querySelector(".user-table .bi-chevron-up, .user-table .bi-chevron-down")) document.querySelector(".user-table .bi-chevron-up, .user-table .bi-chevron-down").classList.add("bi-chevron-expand");
        if (document.querySelector(".user-table .bi-chevron-up")) document.querySelector(".user-table .bi-chevron-up").classList.remove("bi-chevron-up");
        if (document.querySelector(".user-table .bi-chevron-down")) document.querySelector(".user-table .bi-chevron-down").classList.remove("bi-chevron-down");
        document.querySelector(".user-table .bi-chevron-expand").classList.add("bi-chevron-up");
        document.querySelector(".user-table .bi-chevron-expand").classList.remove("bi-chevron-expand");
    });

    // modal events

    // document.querySelector("#modal-users").addEventListener("close", () => {
    //     document.querySelectorAll("#modal-users input").forEach(x => x.removeAttribute("disabled"));

    //     document.querySelector("#modal-users input[type=submit]").classList.remove("btn-red", "btn-green");
    //     document.querySelector("#modal-users input[type=submit]").replaceWith(document.querySelector("#modal-users input[type=submit]").cloneNode());

    //     document.querySelector(".modal-msg").innerHTML = "";
    // });

    // document.querySelector("#modal-users .modal-back").addEventListener("click", () => document.querySelector("#modal-users").close());
    // document.querySelector("#modal-users .modal-close").addEventListener("click", () => document.querySelector("#modal-users").close());
    // document.querySelector("#modal-users .cancel").addEventListener("click", () => document.querySelector("#modal-users").close());

    window.addEventListener("load", () => populateUsers(document.querySelector(".user-table .table-body")));
</script>

{% endblock %}
