{% extends "base.html" %}

{% block main %}

<div id="content-top">
    <h1 class="main-header">Item Addition</h1>
</div>

<form id="add-form" method="post">
    <div id="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th width="10%">Code</th>
                    <th width="15%">Name</th>
                    <th width="20%">Description</th>
                    <th width="15%">Shelf Life</th>
                    <th width="8%">Unit</th>
                    <th width="10%">Unit Price</th>
                    <th width="5%">Available Quantity</th>
                    <th width="2%"></th>
                </tr>
            </thead>
        </table>
        <button id="add-row">Add row</button>
    </div>

<!--
    <span>
        <label for="name">Item name:</label>
        <input type="text" id="name" name="name" required>
    </span>

    <span>
        <label for="code">Item code:</label>
        <input type="text" id="code" name="code" required>
    </span>

    <span>
        <label for="desc">Item description:</label>
        <textarea id="desc" name="desc" required></textarea>
    </span>

    <span>
        <label for="life">Estimated shelf life:</label>
        <input type="number" id="life" name="life" min="0" step=any required>
        <select name="quantifier" id="quantifier">
            <!-- We express shelf life in hours (i.e. 1 minute = 0.017 hours)
            <option value="0.017">minutes</option>
            <option value="1" selected>hours</option>
            <option value="24">days</option>
            <option value="168">weeks</option>
            <option value="720">months</option>
            <option value="8760">years</option>
            <option value="-1">not applicable</option>
        </select>
    </span>

    <span>
        <label for="unit">Unit:</label>
        <input type="text" id="unit" name="unit" required>
    </span>

    <span>
        <label for="price">Unit Price:</label>
        <input type="number" id="price" name="price" min="0" step=any required>
    </span>

    <span>
        <label for="available">Available quantity:</label>
        <input type="number" id="available" name="available" min="1" step="1" required>
    </span>
-->

    <input type="submit" id="submit"><br>
</form>

<script>
    let tbody;

    const numerical = [3, 5, 6];
    const selOps = {
        "minutes": 0.017,
        "hours": 1,
        "days": 24,
        "weeks": 168,
        "months": 720,
        "years": 8760,
        "N/A": -1
    };

    function addRow () {
        let tr = document.createElement("tr");

        for (let i = 0; i < 8; i++) {
            let td = document.createElement("td");
            let el;

            if (i === 7) {
                el = document.createElement("button");
                el.innerHTML = "\u00d7";
                el.classList.add("del-row");
                el.addEventListener("click", e => {
                    e.preventDefault();
                    el.parentElement.parentElement.remove();
                })
                td.appendChild(el);
            } else {
                if (i === 2) {
                    el = document.createElement("textarea");
                    el.setAttribute("rows", 1);
                } else {
                    el = document.createElement("input");
                    el.setAttribute("type", numerical.includes(i) ? "number" : "text");
                    if (numerical.includes(i)) el.min = 0;

                    if (i === 0) el.maxLength = 8;
                    if (i === 1) el.maxLength = 15;
                    if (i === 2) el.maxLength = 100;
                    if (i === 4) el.maxLength = 15;
                    if (i === 5) { el. max = 10 ** 18 - 1; el.step = 0.01; }
                    if (i === 6) el.step = 1;
                }

                td.appendChild(el);

                if (i === 3) {
                    let sel = document.createElement("select");
                    for (let o in selOps) {
                        let op = document.createElement("option");
                        op.value = selOps[o];
                        op.innerHTML = o;
                        sel.appendChild(op);
                    }
                    
                    sel.value = "1";
                    sel.addEventListener("input", () => {
                        if (sel.value === "-1") {
                            sel.previousSibling.classList.add("hide");
                            sel.style.width = "100%";
                        } else {
                            sel.previousSibling.classList.remove("hide");
                            sel.style.width = "";
                        }
                    });
                    td.appendChild(sel);
                }
            }

            tr.appendChild(td);
        }

        tbody.appendChild(tr);
    }

    document.querySelector("#add-row").addEventListener("click", e => { e.preventDefault(); addRow(); });

    window.addEventListener("load", () => {
        tbody = document.createElement("tbody");
        document.querySelector("table").appendChild(tbody);
        addRow();
    });

    function parseValues () {
        let out = [];
        const rows = document.querySelectorAll("tbody tr");

        for (row of rows) {
            let values = Array.from(row.children);
            values = values.slice(0, values.length - 1).map((x, i) => {
                if (i === 3) return Array.from(x.children).filter(x => !x.classList.contains("hide")).reduce((p, c) => p * +c.value, 1);
                else return (i === 5 || i === 6) ? +x.firstChild.value : x.firstChild.value;
            });
            out.push(values);
        }

        return out;
    }

    document.querySelector("form").addEventListener("submit", e => {
        e.preventDefault();

        fetch("{{ url_for('add_item') }}", {
            "method": "POST",
            "headers": {
                "Content-Type": "application/json"
            },
            "body": JSON.stringify({ "values": parseValues() })
        }).then(d => d.json()).then(j => window.location = j["redirect"]);
    });
</script>

{% endblock %}