<!DOCTYPE html>
<html lang="en">
    <head>
        <title>sIMS</title>
        <link rel="icon" href="{{ url_for('static', filename = 'favicon.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'fonts/fonts.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'style_table.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'style_inventory.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'style_request.css') }}">
        <script src="{{ url_for('static', filename = 'script_table.js') }}"></script>
    </head>

    <body>
        <header>
            <a href = "{{ url_for('index') }}" style="text-decoration: none;"><h1 id="title"><span>s</span>IMS</h1></a>
            <div id="profile">
                <p class="info" id="profile-name">{{ session['user']['FirstName'] }} {{ session['user']['LastName'] }}</p>
                <p class="info" id="profile-role">{{ session['user']['RoleName'] }}</p>
            </div>
        </header>

        <div id="sidebar">
            <nav>
                <a class="link {{ 'active' if active == 'inventory' }}" href="{{ url_for('bp_inventory.inventory') }}">Inventory</a>
                {% if session['user']['RoleID'] == 1 %}
                    <a class="link {{ 'active' if active == 'deliveries' }}" href="{{ url_for('bp_delivery.deliveries') }}">Deliveries</a>
                {% endif %}
                <a class="link {{ 'active' if active == 'requests' }}" href="{{ url_for('bp_request.requests') }}">My Requests</a>
                {% if session['user']['RoleID'] == 0 %}
                    <a class="link {{ 'active' if active == 'pendingRequests' }}" href="{{ url_for('bp_request.pendingRequests') }}">Pending Requests</a>
                    <a class="link {{ 'active' if active == 'users' }}" href="{{ url_for('bp_user.show_users') }}">Users</a>
                {% endif %}
                <a class="link {{ 'active' if active == 'settings' }}" href="{{ url_for('bp_user.change_account_settings') }}">Account settings</a>
                <a class="link logout" href="{{ url_for('bp_auth.logout') }}">Log out</a>
            </nav>
            
            <footer>
                <p>
                    &copy; 2022&ndash;2023 sIMS<br>
                    All rights reserved.
                </p>
            </footer>
        </div>

        <main>
            {% block main %}
            {% endblock %}
        </main>
    </body>
</html>