<!DOCTYPE html>
<html lang="en">
    <head>
        <title>sIMS</title>
        <link rel="icon" href="{{ url_for('static', filename = 'favicon.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
        <script src="{{ url_for('static', filename = 'script_table.js') }}"></script>
    </head>

    <dialog id="modal-change-password">
        <div class="modal-back"></div>
        <div class="modal-main">
            <button type="button" role="button" class="modal-close">&times;</button>
            <h1>Change password</h1>
            <div id="modal-change-password-1">
                <form id="form-change-password">
                    <span class="form-grid">
                        <label for="old-password" id="old-password-label">Enter old password:</label>
                        <input id="old-password" type="password" minlength="8" maxlength="12" required autofocus>
                        <label for="new-password" id="new-password-label">Enter new password:</label>
                        <input id="new-password" type="password" minlength="8" maxlength="12" required>
                        <label for="confirm-password" id="confirm-password-label">Re-enter new password:</label>
                        <input id="confirm-password" type="password" minlength="8" maxlength="12" required>
                    </span>
                    <span id="password-note">
                        <p><b>NOTE:</b> Your new password must contain 8 to 12 alphanumeric characters.</p>
                    </span>
                    <span>
                        <p class="form-msg"></p>
                        <input type="button" class="cancel" value="Cancel">
                        <input type="submit" value="Submit" disabled>
                    </span>
                </form>
            </div>
            <div id="modal-change-password-2" class="hidden">
                <p>Your password has been changed successfully. You will be logged out of your account in a few seconds.</p>
            </div>
        </div>
    </dialog>

    <dialog id="modal-change-email">
        <div class="modal-back"></div>
        <div class="modal-main">
            <button type="button" role="button" class="modal-close">&times;</button>
            <h1>Change email address</h1>
            <div id="modal-change-email-1">
                <form id="form-change-email">
                    <span class="form-grid">
                        <label for="password">Enter password:</label>
                        <input id="password" type="password" minlength="8" maxlength="12" required autofocus>
                        <label for="new-email">Enter new email address:</label>
                        <input id="new-email" type="email" placeholder="example@gmail.com" pattern="^([0-9a-z]|([0-9a-z][\.\-_\+]{1}[0-9a-z]))+@gmail.com$" required>
                    </span>
                    <p style="font-size: smaller;"><i><b>NOTE:</b> Due to technical restrictions, only Gmail emails are accepted at this time.</i></p>
                    <span>
                        <p class="form-msg"></p>
                        <input type="button" class="cancel" value="Cancel">
                        <input type="submit" value="Submit" disabled>
                    </span>
                </form>
            </div>
            <div id="modal-change-email-2" class="hidden">
                <p>The email associated with your account has been changed successfully. You will be logged out of your account in a few seconds.</p>
            </div>
        </div>
    </dialog>

    <body>
        <header>
            <div id="home">
                <a href = "{{ url_for('index') }}">
                    <h1 id="title"><span>s</span>IMS</h1>
                </a>
            </div>

            <div id="profile">
                <button type="button" role="button">
                    <span class="info" id="profile-name">{{ session['user']['FirstName'] }} {{ session['user']['LastName'] }}</span>
                    <br>
                    <span class="info" id="profile-role">{{ session['user']['RoleName'] }}</span>
                </button>

                <div id="profile-dropdown">
                    <button type="button" role="button" id="change-password">Reset password</a>
                    <button type="button" role="button" id="change-email">Change email address</a>
                </div>
            </div>
        </header>

        <div id="sidebar">
            <nav>
                <a class="link {{ 'active' if active == 'inventory' }}" href="{{ url_for('bp_inventory.inventory') }}">Inventory</a>
                {% if session['user']['RoleID'] == 1 %}
                    <a class="link {{ 'active' if active == 'deliveries' }}" href="{{ url_for('bp_delivery.deliveries') }}">Deliveries</a>
                {% endif %}
                <a class="link {{ 'active' if active == 'requests' }}" href="{{ url_for('bp_request.requests') }}">{{ 'My' if session['user']['RoleID'] == 2 else 'Item' }} Requests</a>
                {% if session['user']['RoleID'] == 0 %}
                    <a class="link {{ 'active' if active == 'users' }}" href="{{ url_for('bp_user.show_users') }}">Users</a>
                {% endif %}
                <a class="link logout" href="{{ url_for('bp_auth.logout') }}">Log out</a>
            </nav>
            
            <footer>
                <p>
                    &copy; 2022&ndash;2023 sIMS<br>
                    All rights reserved.
                </p>
            </footer>
        </div>

        <main>
            {% block main %}
            {% endblock %}
        </main>
    </body>
</html>

<script>
    function changeEmailValidity () {
        let t = document.querySelector("#form-change-email");
        t.querySelector("input[type=submit]").disabled = !(t.checkValidity()
                                                           && Array.prototype.every.call(t.querySelectorAll("input"), x => x.value !== '')
                                                           && [/[A-Z]+/, /[a-z]+/, /[0-9]+/].map(x => t.querySelector("input[type=password]").value.match(x) !== null).every(x => x));
    }

    function changePasswordValidity () {
        let t = document.querySelector("#form-change-password");
        
        let oldPasswordValid = t.querySelector("#old-password").checkValidity();
        if(oldPasswordValid){
            t.querySelector("#old-password-label").classList.add("valid");
        }
        else{
            t.querySelector("#old-password-label").classList.remove("valid");
        }

        let newPassword = t.querySelector("#new-password");
        let validPassword = newPassword.checkValidity() && newPassword.value.match(/[A-Za-z0-9]+/);
        if(validPassword){
            t.querySelector("#new-password-label").classList.add("valid");
        }
        else{
            t.querySelector("#new-password-label").classList.remove("valid");
        }

        let equalPassword = newPassword.checkValidity() && newPassword.value == t.querySelector("#confirm-password").value;
        if(equalPassword){
            t.querySelector("#confirm-password-label").classList.add("valid");
        }
        else{
            t.querySelector("#confirm-password-label").classList.remove("valid");
        }

        t.querySelector("input[type=submit]").disabled = !(oldPasswordValid && validPassword && equalPassword);
    }

    // modal open & close event listeners
    document.querySelector("#change-password").addEventListener("click", () => {
        document.querySelector("#modal-change-password").showModal();
        document.querySelector("#modal-change-password input:first-of-type").focus();
    });

    document.querySelectorAll("#modal-change-password .cancel, #modal-change-password .modal-back, #modal-change-password .modal-close").forEach(x => x.addEventListener("click", () => {
        document.querySelector("#modal-change-password").close();
    }));

    document.querySelector("#modal-change-password").addEventListener("close", () => {
        document.querySelector("#modal-change-password form").reset();
        document.querySelector("#modal-change-password-2").classList.add("hidden");
        changePasswordValidity();
    });

    document.querySelector("#change-email").addEventListener("click", () => {
        document.querySelector("#modal-change-email").showModal();
        document.querySelector("#modal-change-email input:first-of-type").focus();
    });

    document.querySelectorAll("#modal-change-email .cancel, #modal-change-email .modal-back, #modal-change-email .modal-close").forEach(x => x.addEventListener("click", () => {
        document.querySelector("#modal-change-email").close();
    }));

    document.querySelector("#modal-change-email").addEventListener("close", () => {
        document.querySelector("#modal-change-email form").reset();
        document.querySelector("#modal-change-email-2").classList.add("hidden");
        changeEmailValidity();
    });

    // modal form event listeners
    document.querySelector("#form-change-email").addEventListener("input", () => {
        changeEmailValidity();
        document.querySelector("#form-change-email .form-msg").innerText = '';
        document.querySelector("#form-change-email .form-msg").classList.remove("error");
    });

    document.querySelector("#form-change-email").addEventListener("submit", e => {
        e.preventDefault();

        document.querySelector("#modal-change-email .form-msg").innerText = "Please wait\u2026";

        fetch("{{ url_for('bp_user.change_email') }}", {
            "method": "POST",
            "headers": {
                "Content-Type": "application/json"
            },
            "body": JSON.stringify({
                "password": document.querySelector('#password').value,
                "email": document.querySelector('#new-email').value
            })
        }).then(async d => {
            if (d.status === 200) {
                document.querySelector("#modal-change-email-1").classList.add("hidden");
                document.querySelector("#modal-change-email-2").classList.remove("hidden");
                window.setTimeout(() => window.location = "{{ url_for('bp_auth.logout') }}", 3000);
            } else {
                document.querySelector("#form-change-email").reset();
                document.querySelector('#form-change-email .form-msg').classList.add("error");
                document.querySelector('#form-change-email .form-msg').innerText = (await d.json())['error'];
            }
        });

        changeEmailValidity();
    });

    document.querySelector("#form-change-password").addEventListener("input", () => {
        changePasswordValidity();
        document.querySelector("#form-change-password .form-msg").innerText = '';
        document.querySelector("#form-change-password .form-msg").classList.remove("error");
    });

    document.querySelector("#form-change-password").addEventListener("submit", e => {
        e.preventDefault();

        if (document.querySelector("#new-password").value !== document.querySelector("#confirm-password").value) {
            document.querySelector("#form-change-password").reset();
            document.querySelector("#form-change-password .form-msg").innerText = "Your new password does not match the confirmation. Please make sure you have entered your new password correctly.";
            document.querySelector("#form-change-password .form-msg").classList.add("error");
        } else {
            document.querySelector("#modal-change-password .form-msg").innerText = "Please wait\u2026";

            fetch("{{ url_for('bp_user.change_password') }}", {
                "method": "POST",
                "headers": {
                    "Content-Type": "application/json"
                },
                "body": JSON.stringify({
                    "old-password": document.querySelector('#old-password').value,
                    "new-password": document.querySelector('#new-password').value
                })
            }).then(async d => {
                if (d.status === 200) {
                    document.querySelector("#modal-change-password-1").classList.add("hidden");
                    document.querySelector("#modal-change-password-2").classList.remove("hidden");
                    window.setTimeout(() => window.location = "{{ url_for('bp_auth.logout') }}", 3000);
                } else {
                    document.querySelector("#form-change-password").reset();
                    document.querySelector('#form-change-password .form-msg').classList.add("error");
                    document.querySelector("#form-change-password .form-msg").innerText = (await d.json())['error'];
                }
            });
        }

        changePasswordValidity();
    });

    // profile dropdown event listeners
    document.querySelector("#profile button").addEventListener('click', e => {
        e.stopPropagation();
        document.querySelector("#profile-dropdown").classList.add("show");
    });

    window.addEventListener("click", e => {
        if (e.target !== document.querySelector("#profile-dropdown")) document.querySelector("#profile-dropdown").classList.remove("show");
    });

    window.addEventListener("keydown", e => {
        if (e.key === 'Escape') {
            document.querySelector("#profile-dropdown").classList.remove("show");
        }
    })
</script>