{% extends "base.html" %}

{% block main %}
<div id="content-top">
    <h1 class="main-header">Change email</h1>
</div>

<div id = "email-form">
    <form action="{{ url_for('change_email') }}" method="post">
        <label for="new-password">Enter new email:</label>
        <input type="email" id="new-email" name="new-email" value="{{ '' if  session['user'][5] is none else session['user'][5] }}" style="width:300px; padding: 5px; margin-left:10px; margin-right: 10px;">
        <input type="submit" value="Submit">
    </form>
</div>

<script>
    let a = document.createElement("input");
    a.type = "button";
    a.id = "remove";
    a.value = "Remove email";
    
    let b = document.querySelector("#new-email").value
    if(b === ""){
        a.disabled = 1;
    }

    document.querySelector("#email-form").appendChild(a);

    document.querySelector("#remove").addEventListener("click", e => {
        e.preventDefault();
        fetch("{{ url_for('remove_email') }}", {
            "method": "POST"
        }).then(d => {
            if (d.status === 200) window.location = "{{ url_for('inventory') }}";
        });
    })
</script>

{% endblock %}