{% extends "base.html" %}

{% block main %}
<!-- items is the list of items -->

<div id="content-top">
    <h1 class="main-header">Item Removal</h1>
</div>

{% if items|length == 0 %}
    <p>There are currently no items to delete from the database.</p>
{% else %}
    <p>Please select the items you wish to remove from the database.</p>

    <form id="del-form">
        <div id="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th width="3%"></th>
                        <th width="5%">Code</th>
                        <th width="12%">Name</th>
                        <th width="30%">Description</th>
                        <th width="15%">Shelf Life<br><span style="font-weight: initial; font-variation-settings: 'slnt' -10; font-size: 80%;">(in hours)</span></th>
                        <th width="5%">Unit</th>
                        <th width="15%">Unit Price</th>
                        <th width="10%">Available Quantity</th>
                    </tr>
                </thead>

                <!-- Generate checklist here -->
                {% for a in items %}
                    <tr>
                        <td class="table-ignore"><input type="checkbox" id="{{ a[0] }}" name="choice" value="{{ a[0] }}"></td>
                        <td>{{ a[0] }}</td>
                        <td>{{ a[1] }}</td>
                        <td>{{ a[2] }}</td>
                        <td>{{ a[3] }}</td>
                        <td>{{ a[4] }}</td>
                        <td>{{ a[5] }}</td>
                        <td>{{ a[6] }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        
        <input type="submit" id="submit">
    </form>
{% endif %}

<script>
    const form = document.querySelector("#del-form");

    if (form !== null) {
        form.addEventListener("submit", e => {
            e.preventDefault();

            const items = { "items": Array.from(document.querySelectorAll("input[type=checkbox]")).filter(x => x.checked).map(x => x.id) };

            fetch("{{ url_for('delete_item') }}", {
                "method": "POST",
                "headers": { "Content-Type": "application/json" },
                "body": JSON.stringify(items)
            }).then(d => d.json()).then(j => window.location = j.redirect);
        });
    }
</script>

{% endblock %}