{% extends "base.html" %}

{% block main %}

<div id="content-top">
    <h1 class="main-header">Form Generation</h1>
</div>

<input id="itemid" type="text" autofocus>
<button id="gen58" role="button">Generate Appendix 58</button>

<script>
    let itemID = document.querySelector("#itemid");
    let gen58 = document.querySelector("#gen58");

    gen58.addEventListener("click", () => {
        let filename = `Appendix58_${itemID.value}`;

        fetch("{{ url_for('generate') }}" + "?item=" + itemID.value, {
            method: "GET"
        })
        .then(x => x.body.getReader().read())
        .then(x => { if (!x.value) throw `Item ID ${itemID.value} not found.`; return x; })
        .then(x => { let link = window.URL.createObjectURL(new File([x.value], filename, { "type": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" })); return link; })
        .then(x => {
            let s = document.querySelector("#download");
            if (s !== null) s.parentElement.removeChild(s);

            let el = document.createElement("a");
            el.id = "download"
            el.innerText = "Download file"
            el.href = x;
            el.download = filename;
            el.click();
        });
    })
</script>

{% endblock %}