<!DOCTYPE html>
<html>
    <head>
        <title>sIMS</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style_login.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Sans+Condensed:ital,wght@1,400;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    </head>

    <body id="login-body">
        <main id="login-main">
            <div id="login-left">
                <h1 id="login-title"><span>s</span>IMS</h1>
                <p id="login-subtitle"><span>simple</span> inventory management system</p>
            </div>

            <div id="login-right">
                <form id="login-form" method="post">
                    <input id="login-username" type="text" class="field" placeholder="Username" name="uname" required autofocus>
                    <input id="login-password" type="password" class="field" placeholder="Password" name="pword" required>
                    <span>
                        <input type="submit" id="login-submit" value="Log in">
                        {% if msg|length != 0 %}
                            <span id="login-error">{{ msg }}</span>
                        {% endif %}
                    </span>
                </form>
            </div>
        </main>
    </body>
</html>