{% extends "base.html" %}

{% block main %}

<div id="content-top">
    <h1 class="main-header">
        All Requests
    </h1>
</div>

<div class="table-wrapper">
    <div class="table-main request-table">
        <div class="table-header">
            <div class="table-row request-details">
                <div>Request ID</div>
                <div>Requested By</div>
                <div>Request Date</div>
                <div>Request Status</div>
                <div>Request Contents</div>
            </div>
        </div>
        <div class="table-body">
            <div class="table-loading table-row hide">
                <div>Please wait&hellip;</div>
            </div>
            <div class="table-empty table-row hide">
                <div>No items found.</div>
            </div>
            <div class="table-row request-details">
                <div>1</div>
                <div>Personnel</div>
                <div>2023-03-20</div>
                <div>Pending</div>
                <div class="table-wrapper">
                    <div class="table-main request-items-table">
                        <div class="table-header">
                            <div class="table-row">
                                <div>Item Name</div>
                                <div>Item Description</div>
                                <div>Quantity</div>
                            </div>
                        </div>
                        <div class="table-body">
                            <div class="table-row">
                                <div>item1</div>
                                <div>desc1</div>
                                <div>15</div>
                            </div>
                            <div class="table-row">
                                <div>item2</div>
                                <div>desc2</div>
                                <div>40</div>
                            </div>
                            <div class="table-row">
                                <div>item3</div>
                                <div>desc3</div>
                                <div>55</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-row request-details">
                <div>2</div>
                <div>Personnel</div>
                <div>2023-03-20</div>
                <div>Pending</div>
                <div class="table-wrapper">
                    <div class="table-main request-items-table">
                        <div class="table-header">
                            <div class="table-row">
                                <div>Item Name</div>
                                <div>Item Description</div>
                                <div>Quantity</div>
                            </div>
                        </div>
                        <div class="table-body">
                            <div class="table-row">
                                <div>item3</div>
                                <div>desc3</div>
                                <div>55</div>
                            </div>
                            <div class="table-row">
                                <div>item2</div>
                                <div>desc2</div>
                                <div>40</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.addEventListener("load", () => populateRequests(document.querySelector(".request-table .table-body"), "", "all"))
</script>

{% endblock %}