{% extends "base.html" %}

{% block main %}

<div id="content-top">
    <h1 class="main-header">
        All Requests
    </h1>
</div>

<div class="table-wrapper">
    <div class="table-main request-table">
        <div class="table-header">
            <div class="table-row request-details">
                <div>Request ID</div>
                <div>Requested By</div>
                <div>Request Date</div>
                <div>Request Status</div>
                <div>Request Contents</div>
            </div>
        </div>
        <div class="table-body">
            <div class="table-loading table-row hide">
                <div>Please wait&hellip;</div>
            </div>
            <div class="table-empty table-row hide">
                <div>No items found.</div>
            </div>
        </div>
    </div>
</div>

<script>
    window.addEventListener("load", () => populateRequests(document.querySelector(".request-table .table-body"), "", "all"))
</script>

{% endblock %}