{% extends "base.html" %}

{% block main %}

<div id="content-top">
    <h1 class="main-header">Delivery Logging</h1>

    <form id="search">
        <input type="search" id="search-box" placeholder="Search item&hellip;" name="keyword" autofocus>
        <input type="submit" id="search-btn" value="Search" name="search-btn">
    </form>
</div>

<div class="table-wrapper">
    <div class="table-main search-table update">
        <div class="table-header">
            <div class="table-row">
                <div class="table-sortable">
                    <button role="button" class="sort-btn">
                        Item ID
                        <i class="bi bi-chevron-expand"></i>
                    </button>
                </div>
                <div class="table-sortable">
                    <button role="button" class="sort-btn">
                        Name
                        <i class="bi bi-chevron-expand"></i>
                    </button>
                </div>
                <div class="table-sortable">
                    <button role="button" class="sort-btn">
                        Description
                        <i class="bi bi-chevron-expand"></i>
                    </button>
                </div>
                <div class="table-sortable">
                    <button role="button" class="sort-btn">
                        <span>
                            Shelf Life
                            <br>
                            <span style="font-weight: initial; font-style: italic; font-size: 80%;">(days)</span>
                        </span>
                        <i class="bi bi-chevron-expand"></i>
                    </button>
                </div>
                <div>Unit Price</div>
                <div>Unit</div>
                <div></div>
            </div>
        </div>
        <div class="table-body">
            <div class="table-row table-loading hide">
                <div>Please wait&hellip;</div>
            </div>
            <div class="table-row table-empty hide">
                <div>No items found.</div>
            </div>
        </div>
    </div>
</div>

<div class="table-wrapper">
    <div class="table-main selection-table delivery">
        <div class="table-header">
            <div class="table-row">
                <div>Item ID</div>
                <div>Name</div>
                <div>Description</div>
                <div>
                    <span>
                        Shelf Life
                        <br>
                        <span style="font-weight: initial; font-style: italic; font-size: 80%;">(days)</span>
                    </span>
                </div>
                <div>Unit Price</div>
                <div>Unit</div>
                <div>Delivery Date</div>
                <div>Delivery Quantity</div>
                <div></div>
            </div>
        </div>
        <div class="table-body"> </div>
    </div>
</div>

<form id="submit-form">
    <input type="submit" value="Log deliveries" name="update-btn" disabled>
</form>

<script>
    let currentSortSearch = [0, true];

    document.querySelectorAll(".search-table .sort-btn").forEach(x => {
        const p = x.parentElement;
        x.addEventListener("click", () => {
            currentSortSearch = sortTable(document.querySelector(".search-table"), Array.prototype.indexOf.call(p.parentElement.children, p), currentSortSearch, { shelfLife: x.innerText.includes("Shelf Life") });
        });
    });

    function selectItem (row) {
        let clone = row.cloneNode(true);

        let d1 = document.createElement("div");
        let date = document.createElement("input");
        date.type = "date";
        v = new Date()
        date.value = `${v.getFullYear()}-${(v.getMonth() + 1).toString().padStart(2, "0")}-${(v.getDate()).toString().padStart(2, "0")}`;
        d1.appendChild(date);
        clone.insertBefore(d1, clone.lastChild);
        
        let d2 = document.createElement("div");
        let quantity = document.createElement("input");
        quantity.type = "number";
        quantity.min = 1;
        d2.appendChild(quantity)
        clone.insertBefore(d2, clone.lastChild);

        clone.lastChild.innerHTML = clone.lastChild.innerHTML.replaceAll("plus", "dash");
        clone.querySelector(".select-row").classList.add("delete-row");
        clone.querySelector(".select-row").classList.remove("select-row");
        
        clone.lastChild.querySelector("button").addEventListener("click", () => {
            clone.parentElement.removeChild(clone);
            let r = Array.from(document.querySelectorAll(".search-table .table-body .table-row")).filter(x => x.firstChild.innerHTML === clone.firstChild.innerHTML);
            enableSubmit();
        });

        let b = document.querySelector(".selection-table .table-body");
        b.insertBefore(clone, b.firstChild);
        enableSubmit();
    }

    function enableSubmit () {
        document.querySelector("#submit-form [type=submit]").disabled = document.querySelector(".selection-table .table-body").childElementCount === 0 || Array.prototype.some.call(document.querySelectorAll(".selection-table input"), x => x.value === '' || !x.checkValidity());
    }

    document.querySelector("#search").addEventListener("submit", async e => {
        e.preventDefault();
        for (let row of await populateItems(document.querySelector(".search-table .table-body"), document.querySelector("#search-box").value, { stock: false, buttons: true })) {
            row.querySelector(".select-row").addEventListener("click", () => selectItem(row));
        }
    });

    document.querySelector(".selection-table").addEventListener("input", enableSubmit);

    window.addEventListener("load", async () => {
        for (let row of await populateItems(document.querySelector(".search-table .table-body"), "", { stock: false, buttons: true })) {
            row.querySelector(".select-row").addEventListener("click", () => selectItem(row));
        }
    });

    document.addEventListener("tablerefresh", () => {
        enableSubmit();

        currentSortSearch = [0, true];
        if (document.querySelector(".search-table .bi-chevron-up, .search-table .bi-chevron-down")) document.querySelector(".search-table .bi-chevron-up, .search-table .bi-chevron-down").classList.add("bi-chevron-expand");
        if (document.querySelector(".search-table .bi-chevron-up")) document.querySelector(".search-table .bi-chevron-up").classList.remove("bi-chevron-up");
        if (document.querySelector(".search-table .bi-chevron-down")) document.querySelector(".search-table .bi-chevron-down").classList.remove("bi-chevron-down");
        document.querySelector(".search-table .bi-chevron-expand").classList.add("bi-chevron-up");
        document.querySelector(".search-table .bi-chevron-expand").classList.remove("bi-chevron-expand");
    });

    document.querySelector("#submit-form").addEventListener("submit", e => {
        e.preventDefault();

        let values = [];

        for (let row of Array.from(document.querySelectorAll(".selection-table .table-body .table-row"))) {
            let children = row.children;

            values.push({
                "ItemID": children[0].innerText,
                "DeliveryDate": children[6].firstChild.value,
                "DeliveryQuantity": +children[7].firstChild.value,
            })
        }
        
        fetch("{{ url_for('add_deliveries') }}", {
            "method": "POST",
            "headers": {
                "Content-Type": "application/json"
            },
            "body": JSON.stringify({ "values": values })
        }).then(d => {
            if (d.status === 200) window.location = "{{ url_for('deliveries') }}";
        });
    })
</script>

{% endblock %}