body {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: clamp(100px, 15%, 250px) 1fr;
    grid-template-rows: 4rem 1fr;
    margin: 0;
    padding: 0;
}

header {
    height: 100%;
    width: 100%;
    padding: 1rem;
    grid-column: 1 / 3;
    border-bottom: 0.05rem solid var(--light-gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > * {
    flex-grow: 1;
    flex-shrink: 0;
}

#title {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}

#title span {
    font: inherit;
    color: var(--dark-blue);
}

#sidebar {
    height: 100%;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 0.05rem solid var(--light-gray);
}

nav {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

nav .link {
    padding: 0.5rem 0.5rem;
    text-decoration: none;
    border-radius: 0.5rem;
    background: none;
    transition: background 0.1s;
}

nav .link.logout {
    color: var(--red);
    font-weight: bold;
}

nav .link:hover, nav .link:focus, nav .link.active {
    background: var(--light-gray);
}

nav .link:focus {
    outline: 0.05rem solid var(--black);
}

nav .link.active {
    font-weight: bold;
}

nav .link.logout:hover, nav .link.logout:focus {
    background: var(--light-red);
}

nav .link.logout:focus {
    outline: 0.05rem solid var(--red);
}

footer p {
    font-size: 75%;
    font-style: italic;
    text-align: center;
    margin: 0;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding: 1.5rem;
}

main h1 {
    margin: 0;
}

#content-top {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    top: 0;
}

#content-top > * {
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0;
}

#content-top .btn-group {
    display: flex;
    gap: 0.5rem;
}

#search {
    width: min(100%, 15rem);
    margin: 0;
    display: flex;
    gap: 1rem;
    flex-grow: 1;
    flex-shrink: 1;
}

#search-box {
    width: 100%;
}

.table-loading.hide, .table-empty.hide, .table-error.hide {
    display: none;
}

#add-bottom {
    width: 100%;
    display: flex;
    gap: 1rem;
}

#errmsg ~ #submit-form {
    width: initial;
    flex-grow: 0;
    flex-shrink: 1;
}

#errmsg {
    font-style: italic;
    color: var(--red);
    text-align: right;
    align-self: center;
    flex-grow: 1;
    flex-shrink: 0;
}

/* special table rows (loading and empty messages) */

.table-loading {
    font-style: italic;
}

.table-empty, .table-error {
    font-weight: bold;
    color: var(--red);
}

.table-loading.hide, .table-empty.hide, .table-error.hide{
    display: none;
}

.table-loading > div, .table-empty > div, .table-error > div {
    grid-column: 1 / -1;
}

.table-row.table-loading:hover, .table-row.table-empty:hover, .table-row.table-error:hover {
    background: initial;
}

/* table column widths */

.inventory-table .table-row {
    grid-template-columns: 0.625fr 0.75fr 2fr 0.5fr 0.75fr 0.5fr 0.5fr;
}

.add-table .table-row {
    grid-template-columns: 0.625fr 0.75fr 2fr 1fr 0.75fr 0.5fr 3rem;
}

.search-table .table-row {
    grid-template-columns: 0.625fr 0.75fr 2fr 0.5fr 0.75fr 0.5fr 0.5fr 3rem;
}

.search-table.update .table-row {
    grid-template-columns: 0.625fr 0.75fr 2fr 0.5fr 0.75fr 0.5fr 3rem;
}

.selection-table.remove .table-row {
    grid-template-columns: 0.625fr 0.75fr 2fr 0.5fr 0.75fr 0.5fr 0.5fr 3rem;
}

.selection-table.request .table-row {
    grid-template-columns: 0.625fr 0.75fr 2fr 0.5fr 0.75fr 0.5fr 0.5fr 0.5fr 3rem;
}

.selection-table.update .table-row {
    grid-template-columns: 0.625fr 0.75fr 2fr 1fr 0.75fr 0.5fr 3rem;
}

.selection-table.delivery .table-row {
    grid-template-columns: 0.625fr 0.75fr 2fr 0.5fr 0.75fr 0.5fr 0.75fr 0.5fr 3rem;
}

.delivery-table .table-row {
    grid-template-columns: 0.375fr 0.625fr 0.75fr 2fr 0.5fr 0.75fr 0.5fr 0.75fr 0.75fr 0.5fr;
}

.request-table.custodian .table-row {
    grid-template-columns: 0.375fr 0.5fr 0.75fr 0.5fr 0.625fr 0.75fr 2fr 0.5fr 0.5fr 0.5fr 0.5fr 0.375fr 0.375fr;
}

.request-table.user .table-row {
    grid-template-columns: 0.375fr 0.75fr 0.5fr 0.625fr 0.75fr 2fr 0.5fr 0.5fr 0.5fr 0.5fr 0.75fr;
}

.user-table .table-row {
    grid-template-columns: 15% 15% 15% 25% 15% 15%;
}

/* table cell formatting */

.table-row > .left {
    text-align: left;
    justify-items: left;
}

.table-row > .right {
    text-align: right;
    justify-items: right;
}

.table-row > .mono {
    font-family: 'IBM Plex Mono', monospace;
}

.table-row > .tabnum {
    font-variant-numeric: tabular-nums;
}

.table-row > .red {
    color: var(--red);
    font-weight: bold;
}

.table-row .currency {
    width: 100%;
    display: flex;
    justify-content: center;
}

.table-row .currency :first-child {
    text-align: left;
}

.table-row .currency :last-child {
    flex-grow: 1;
    text-align: right;
}

.table-row .original-id {
    display: none;
}

.request-table .table-body .table-row {
    gap: 1rem 0;
}

/* form buttons */

#submit-form {
    display: flex;
    justify-content: right;
}

/* status badges */

.status {
    font-size: 80%;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.375rem;
    padding: 0.1rem 0.3rem;
}

.status.pending {
    background: var(--status-pending);
    color: var(--status-pending-text);
}

.status.approved {
    background: var(--status-approved);
    color: var(--status-approved-text);
}

.status.issued {
    background: var(--status-issued);
    color: var(--status-issued-text);
}

.status.completed {
    background: var(--status-completed);
    color: var(--status-completed-text);
}

.status.denied {
    background: var(--status-denied);
    color: var(--status-denied-text);
}

.status.cancelled {
    background: var(--status-cancelled);
    color: var(--status-cancelled-text);
}

.status.expired {
    background: var(--status-expired);
    color: var(--status-expired-text);
}

#add-table .add-user-table{
    grid-template-columns: 20% 20% 35% 10% 5%;
}

.add-user-table input[type="email"]{
    border: none;
    border-bottom: 1px solid var(--gray);
    background: none;
    height: 100%;
    padding: 0 0.2rem;
    margin-bottom: 5px;
}

.add-user-table input[type="email"]:focus{
    outline: none;
    border-bottom: 1px solid var(--blue);
}

/* styling for item addition, item update & delivery addition tables */

.add-table input, .add-table textarea,
.selection-table input, .selection-table textarea {
    font-family: inherit;
    font-variant-numeric: inherit;
    text-align: inherit;
    width: 100%;
}

.add-table textarea,
.selection-table textarea {
    resize: vertical;
}

.add-table .shelf-life,
.selection-table .shelf-life {
    width: 100%;
    display: flex;
    gap: 0.5rem;
}

.add-table .shelf-life select,
.selection-table .shelf-life select {
    flex-grow: 1;
    text-align: left;
}

.add-table .shelf-life .hide,
.selection-table .shelf-life .hide {
    display: none;
}

/* row addition button (item addition) */

#add-row > div {
    grid-column: 1 / -1;
}

#add-row:hover {
    background: unset;
}

#add-row button {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    color: var(--blue);
}

/* row selection & deletion buttons (item removal, update, & request) */

.select-row, .delete-row {
    background: none;
    box-shadow: none;
    justify-self: center;
    padding: 0;
}

.select-row:focus, .delete-row:focus {
    outline: none;
}

.select-row:not(:disabled):hover, .delete-row:not(:disabled):hover,
.select-row:not(:disabled):focus, .delete-row:not(:disabled):focus {
    background: none;
    box-shadow: none;
}

.select-row {
    color: var(--blue);
}

.select-row:disabled {
    background: none;
    color: var(--gray);
    cursor: unset;
}

.delete-row {
    color: var(--red);
}

.select-row :last-child, .select-row:not(:disabled):hover :first-child, .select-row:not(:disabled):focus :first-child,
.delete-row :last-child, .delete-row:not(:disabled):hover :first-child, .delete-row:not(:disabled):focus :first-child {
    display: none;
}

.select-row:not(:disabled):hover :last-child, .select-row:not(:disabled):focus :last-child,
.delete-row:not(:disabled):hover :last-child, .delete-row:not(:disabled):focus :last-child {
    display: unset;
}

.table-row .table-sortable > button {
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    padding: 0;
    outline-offset: 0.5rem;
    border-radius: 0.025rem;
}

.table-sortable > button,
.table-sortable > button:hover,
.table-sortable > button:focus {
    background: none;
    box-shadow: none;
}
