.table-wrapper {
    height: 100%;
    width: 100%;
    background: var(--white);
    box-shadow: 0rem 0.25rem 0.5rem var(--shadow);
    border-radius: 1rem;
    overflow: hidden;
}

.table-main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.table-row {
    width: 100%;
    padding: 0.75rem 0;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    transition: background 0.1s;
}

:not(.table-header) > .table-row:hover {
    background: var(--light-gray-2);
}

.table-row > div {
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    padding: 0 0.75rem;
    display: grid;
    grid-auto-rows: 100%;
    grid-auto-columns: 100%;
    align-items: center;
    align-content: center;
    justify-items: center;
    text-align: center;
}

.table-header {
    position: sticky;
    top: 0;
    background: linear-gradient(180deg, var(--white), var(--translucent));
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    font-weight: bold;
    border-bottom: 0.05rem solid var(--light-gray);
}

.table-body {
    display: flex;
    flex-direction: column;
}
