#login-body {
    display: initial;
}

#login-main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100%;
    align-items: center;
    gap: 2rem;
}

#login-left {
    text-align: right;
    font-size: 1.25rem;
}

#login-title {
    margin: 0;
    font-size: 6rem;
    font-weight: 700;
    line-height: 90%;
}

#login-subtitle {
    font-family: 'IBM Plex Sans Condensed';
    font-style: italic;
    font-size: 1.1rem;
    margin: 0;
}

#login-title span, #login-subtitle span {
    color: var(--dark-blue);
    font: inherit;
}

#login-subtitle span {
    font-weight: bold;
}

#login-right {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 0.5rem;
}

#login-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0;
}

#login-form > span {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    margin-top: 0.5rem;
}

#login-message {
    font-style: italic;
    margin: 0;
}

#login-message.error {
    color: var(--red);
}

#login-username, #login-password {
    width: clamp(25%, 15rem, 50%);
}

#forgot-password, #manage-categories {
    width: fit-content;
    background: none;
    box-shadow: none;
    padding: 0;
    margin: 0px;
    margin-bottom: 15px;
    font-size: smaller;
    font-style: italic;
    color: var(--blue);
}

#forgot-password:hover,
#forgot-password:focus,
#manage-categories:focus,
#manage-categories:hover {
    cursor: pointer;
    text-decoration: underline;
    color: var(--dark-blue);
    outline: none;
}

#login-form > div {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
}
