.request-details > div {
    display:flex;
    justify-content:center;
}

/* .request-table .table-body .table-row:not(.table-loading, .table-empty) {
    border-bottom: 0.05rem solid var(--light-gray);
} */

.request-table .table-row.item-not-found {
    background: var(--light-red-3);
    color: var(--red);
}

.request-table .table-row.item-not-found:hover {
    background: var(--light-red);
    color: var(--red);
}

.request-table .table-row.item-not-found .extend {
    font-weight: bold;
    font-style: italic;
    grid-column: 3 / 5;
}

.request-table .actions {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

/* request table action buttons */

.request-table .issue {
    background: var(--blue);
    box-shadow: 0rem 0.2rem 0.4rem var(--blue-shadow);
    color: white;
}

.request-table .issue:hover,
.request-table .issue:focus {
    background: var(--dark-blue);
    box-shadow: 0rem 0.1rem 0.2rem var(--blue-shadow);
}

.request-table .issue:disabled,
.request-table .issue:disabled:hover,
.request-table .issue:disabled:focus {
    background: var(--gray);
    box-shadow: 0rem 0.2rem 0.4rem var(--shadow);
}

.request-table .actions .green {
    background: var(--green);
    box-shadow: 0rem 0.2rem 0.4rem var(--green-shadow);
    color: white;
}

.request-table .actions .green:hover,
.request-table .actions .green:focus {
    background: var(--dark-green);
    box-shadow: 0rem 0.1rem 0.2rem var(--green-shadow);
}

.request-table .actions .red {
    background: var(--red);
    box-shadow: 0rem 0.2rem 0.4rem var(--red-shadow);
    color: white;
}

.request-table .actions .red:hover,
.request-table .actions .red:focus {
    background: var(--dark-red);
    box-shadow: 0rem 0.1rem 0.2rem var(--red-shadow);
}

/* filter buttons */

#request-filters {
    display: flex;
    gap: 0.5rem;
    list-style: none;
    align-items: center;
}

#request-filters .selected {
    color: white;
    font-weight: bold;
    background: var(--blue);
    box-shadow: 0rem 0.2rem 0.4rem var(--blue-shadow);
}

#request-filters .selected:hover,
#request-filters .selected:focus {
    background: var(--dark-blue);
    box-shadow: 0rem 0.1rem 0.2rem var(--blue-shadow);
}

#request-filters .selected.green {
    color: var(--status-green-text);
    font-weight: bold;
    background: var(--status-green);
    box-shadow: 0rem 0.2rem 0.4rem var(--status-green-shadow);
}

#request-filters .selected.green:hover,
#request-filters .selected.green:focus {
    background: var(--status-green-dark);
    box-shadow: 0rem 0.1rem 0.2rem var(--status-green-shadow);
}

#request-filters .selected.yellow {
    color: var(--status-yellow-text);
    font-weight: bold;
    background: var(--status-yellow);
    box-shadow: 0rem 0.2rem 0.4rem var(--status-yellow-shadow);
}

#request-filters .selected.yellow:hover,
#request-filters .selected.yellow:focus {
    background: var(--status-yellow-dark);
    box-shadow: 0rem 0.1rem 0.2rem var(--status-yellow-shadow);
}

#request-filters .selected.red {
    color: var(--status-red-text);
    font-weight: bold;
    background: var(--status-red);
    box-shadow: 0rem 0.2rem 0.4rem var(--status-red-shadow);
}

#request-filters .selected.red:hover,
#request-filters .selected.red:focus {
    background: var(--status-red-dark);
    box-shadow: 0rem 0.1rem 0.2rem var(--status-red-shadow);
}

.request-parent{
    border-bottom: 0.05rem solid var(--light-gray);
}

.request-parent:hover{
    background: var(--light-gray-2);
}

.request-parent > div:nth-child(2){
    grid-auto-rows: 1fr;
    padding-left: 0.75rem;
    padding-bottom: 1rem;
    padding-top: 0.25rem;
}